# Introduction

This is a notebook

# Section

In [1]:
print('hello world')

hello world

In [8]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_csv('/Users/antserene/SuperBowl/superbowlAds.csv', error_bad_lines=False)

b'Skipping line 15: expected 4 fields, saw 5\nSkipping line 25: expected 4 fields, saw 5\nSkipping line 26: expected 4 fields, saw 5\nSkipping line 27: expected 4 fields, saw 5\nSkipping line 28: expected 4 fields, saw 5\nSkipping line 302: expected 4 fields, saw 5\nSkipping line 303: expected 4 fields, saw 5\nSkipping line 304: expected 4 fields, saw 5\nSkipping line 305: expected 4 fields, saw 5\nSkipping line 306: expected 4 fields, saw 5\nSkipping line 307: expected 4 fields, saw 5\nSkipping line 308: expected 4 fields, saw 5\nSkipping line 309: expected 4 fields, saw 5\nSkipping line 310: expected 4 fields, saw 5\nSkipping line 311: expected 4 fields, saw 5\nSkipping line 446: expected 4 fields, saw 5\nSkipping line 470: expected 4 fields, saw 5\nSkipping line 509: expected 4 fields, saw 5\nSkipping line 548: expected 4 fields, saw 5\nSkipping line 549: expected 4 fields, saw 6\nSkipping line 550: expected 4 fields, saw 6\nSkipping line 551: expected 4 fields, saw 5\nSkipping line 555: expected 4 fields, saw 5\n'

In [10]:
df.head()

,Year,Product Type,Product/Title,Plot/Notes
0,1969,Car,"Chrysler ""Scuba Diver""[4]",A scuba diver in a dreamy sequence with groovy...
1,1970,Car,"Pontiac""Humbler""",A young man pulled up in his GTO to a drive-in...
2,1975,Security,"Master Lock""Rifle""",A man attempts to break a Master Lock with a r...
3,1976,Copy,"Xerox""Monks""",A monk must make 500 handwritten scriptures fo...
4,1979,Soft drink,"Coca-Cola""Hey Kid, Catch!""","A young kid tries to talk to ""Mean"" Joe Greene..."

In [11]:
df.describe()

        Year Product Type             Product/Title Plot/Notes
count    540          540                       539        525
unique    36           68                       537        406
top     2018         Film  Advertiser/Product Title  TV promo.
freq      74          140                         3         94